{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<script type="application/ld+json">
  {{ jsonld | tojson}}
</script>

<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #fff;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        -2px 0px 0 #000,
        3px 0px 0 #000,
        0px -2px 0 #000,
        0px 2px 0 #000;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{{ readme | markdown }}

<!-- Keynote Speakers -->
{{ components.section("Keynote Speakers") }}
{{ components.concisespeakergroup(speakers) }}

<!-- Organizers -->
{{ components.section("Organizers") }}
{{ components.organizergroup(committee) }}

{{ components.section("Sponsors") }}
<center>
<img
  src="https://github.com/ewrl-org/ewrl-2026/blob/main/static/images/ANR_transparent.png?raw=true"
  width="300"/>
<img
  src="https://github.com/ewrl-org/ewrl-2026/blob/main/static/images/CRISTAL_transparent.png?raw=true"
  width="300" />
<img
  src="https://github.com/ewrl-org/ewrl-2026/blob/main/static/images/PEPR.png?raw=true"
  width="300" />
<img
  src="https://github.com/ewrl-org/ewrl-2026/blob/main/static/images/univ-lille.png?raw=true"
  width="300" />
<img
  src="https://github.com/ewrl-org/ewrl-2026/blob/main/static/images/Inria.png?raw=true"
  width="300" />
<img
  src="https://github.com/ewrl-org/ewrl-2026/blob/main/static/images/CNRS.png?raw=true"
  width="200"/>
</center>
<br>
<br>
{% endblock %}
