{% set page_title = "Poster list" %}
{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="static/css/typeahead.css" />
<link rel="stylesheet" href="static/css/paper_vis.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/d3@5/dist/d3.min.js"></script>
{#
  <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.3/dist/handlebars.min.js" integrity="sha256-/PJBs6QWvXijOFIX04kZpLb6ZtSQckdOIavLWKKOgXU=" crossorigin="anonymous"></script>
#}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tippy.js@6.2.3/dist/tippy-bundle.umd.min.js"></script>

<script src="static/js/libs_ext/typeahead.bundle.js"></script>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/tgdwyer/WebCola/WebCola/cola.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{% endblock %}
{% block tabs %}
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link text-muted" href="papers.html">Browse </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="paper_vis.html">Visualization</a>
  </li>
 <li class="nav-item active" style="background-color: #bed972;">
    <a
      class="nav-link text-muted"
      data-toggle="tab"
      href="#"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
      >List
    </a>
  </li>
</ul>
{% endblock %}
{% block content %}
Below is the list of all the posters for each poster session.
{{ papers | markdown }}

{% endblock %}
