{% set active_page = "Schedule" %}
{% set page_title = "Schedule" %}
{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include 'schedule_head.html' %}
{% endblock %}


{% block tabs %}
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item active">
    <a
      class="nav-link text-muted active"
      data-toggle="tab"
      href="#tab-browse"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
      >Calendar
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="day_monday.html">Monday</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-muted" href="day_tuesday.html">Tuesday</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-muted" href="day_wednesday.html">Wednesday</a>
  </li>

</ul>

{% endblock %}

{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <!-- Calender tab -->
  <div
    class="tab-pane active"
    id="tab-calendar"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div class="form-group col">
      <label for="tzOptions">Timezone:</label>
      <select id="tzOptions" class="selectpicker" data-live-search="true">
      </select>
    </div>

    <!-- full cal for browser-->
    <div id="calendar" class="d-none d-sm-block"></div>

    <!-- small cal for smart phones-->
    <div id="calendar_small" class="d-sm-none"></div>

<!--    <script type="text/javascript">-->
<!--      // console.log(make_cal(),"-&#45;&#45; make_cal()");-->
<!--      make_cal().then((d) => console.log(d, "-&#45;&#45; d"));-->
<!--    </script>-->
  </div>

  <script type="text/javascript">
    window.onload = () => {
      const tabPanes = $(".tab-pane");
      // Create calendars:
      make_cal(false).then(({ render }) => {
        // render cal with all tabs visible
        tabPanes.css("display", "block");
        render();
        tabPanes.css("display", "");

        // re-render cal on resize
        $(window).on(
          "resize",
          _.debounce(() => {
            tabPanes.css("display", "block");
            render();
            tabPanes.css("display", "");
          }, 500)
        );
      });
      // ----
      lazyLoader();
    };
    $(document).ready(function () {
        if (window.location.hash) {
            $('.nav-link[href="' + window.location.hash + '"]').tab('show');
        }

        $('.nav-link[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            history.replaceState(null, null, e.target.hash);
        });
    });
  </script>

</div>
{% endblock %}
